<div class="container mt-5">
    <div class="row justify-content-center"> 
        <div class="card col-md-5">
            <img [src]="productDetails.images[0]" alt="image_product" width="200">
            <hr>
            <div class="card-body">
                <h6 class="card-title">title : {{productDetails.title}}</h6>
                <h6 class="card-price">price:{{productDetails.price}}$</h6>
                <p class="card-text">description:{{productDetails.description}}</p>
            </div>
        </div>
    </div>
</div>

